
<div class="col-md-4" *ngFor="let game of games">
	<div class="card text-center">
		<div class="card-header d-flex justify-content-between align-item-center bg-dark text-white">
			<span class="h4">{{game.title}}</span>
			<button class="btn btn-danger">
				<i class="far fa-trash-alt"></i>
			</button>
		</div>
		<img [src]="game.image" alt="" class="card-img-top">
		<div class="card-body">
			<p>{{game.description}}</p>
			<a href="/" class="btn btn-info btn-block">
				Edit
			</a>
		</div>
	</div>
</div>